<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Recipe</h1>
        <div class="col-6 offset-3">
            <form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class = "mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="recipe[title]" value="<%=recipe.title%>" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <div class= "mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="recipe[location]" value="<%=recipe.location%>" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add image(s)...</label>
                    <input class="form-control" type="file" id="image" name = "image" multiple>
                  </div>
                <div class="md-3">
                    <label class="form-label" for="price">Recipe Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.0" aria-label="price" aria-describedby="price-label" name="recipe[price]" value="<%=recipe.price%>" required>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                  </div>
                </div>
                <div class= "mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="recipe[description]" value="<%=recipe.description%>" required><%= recipe.description%></textarea>
                    <div class="valid-feedback">
                        Looks good
                    </div>
                </div>
                <div class="mb-3">
                    <% recipe.images.forEach(function(img, i) {  %> 
                        <img src="<%=img.thumbnail%>" class= "img-thumbnail" alt="">
                        <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">delete?</label>
                    <% }) %> 
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Recipe</button>
                </div>
            </form>
            <a href="/recipes/<%=recipe._id%>">Back to Recipes</a>
        </div>
    </div>
    