
<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm">
        <!-- <div class="row"> -->
        <h1 id="italy-recipe" class="col">Italy,
            Regional Recipes
        </h1>
                <!-- </div> -->
        <a id="adding" href="/recipes/new" class="col btn btn-outline-secondary"">Add Recipe</a>
        <form id="search-recipe" class="col input-group my-search">
            <input type="text" class="form-control" placeholder="Search Recipes..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </form>
      </div>
<div id="map" class="col-sm my-map"></div>
    <div>
            <!-- <form id="search-recipe" class="input-group mb-3 container center">
                <input type="text" class="form-control" placeholder="Search Recipes..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary " type="button" id="button-addon2">Search</button>
            </form> -->
        <% for (let recipe of recipes) {%>
        <div class="card md-3 info">
            <div class="row">
                <div class="col-md-4">
                    <% if(recipe.images.length)  {%> 
                    <img class="img-fluid" alt="" src="<%=recipe.images[0].url%>">
                    <% }else {%> 
                        <img class="img-fluid" alt="" src="https://res.cloudinary.com/dmljm2vic/image/upload/v1611628550/YelpCamp/bbqlonquv3wgpsfainfy.jpg">
                        <% } %> 
                </div>
                <div id="mine" class="col-md-8">
                    <ul id="me" class="card-body" style="display: block">
                        <h5 class="card-title info"><%= recipe.title %></h5>
                        <p class="card-text info"><%= recipe.description %></p>
                        <p class="card-text">
                            <small class="text-muted info"><%= recipe.location%></small>
                        </p>
                        <a class="btn btn-primary info" href="/recipes/<%=recipe._id%>">View <%=recipe.title%></a>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
        <% } %>
    </ul>
<script>

    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const recipes = { features: <%- JSON.stringify(recipes) %> }
    console.log(recipes);
       </script>

<script src="/javascripts/clusterMap.js"></script>
<script src="/javascripts/search.js"></script>